@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Oswald&family=Roboto+Serif:opsz@8..144&display=swap");
* {
  font-family: "Merriweather", serif;
}

.animate__animated.animate__slideInLeft {
  --animate-duration: 2s;
}

.animate__animated.animate__slideInDown {
  --animate-duration: 2s;
}

.animate__animated.animate__slideInRight {
  --animate-duration: 2s;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 5s;
}

.animate__animated.animate__fadeInUp {
  --animate-duration: 2s;
}

.Header img {
  height: 60px;
}

.navbar {
  background-color: black;
  margin-top: 0px;
  padding-top: 0px;
}

.navbar-brand {
  font-weight: bold;
  margin-right: 5%;
}

.navbar-expand-md {
  width: 100% !important;
}

.botones {
  padding-bottom: 3px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding-right: 3%;
  width: 20%;
}

.mb-4 {
  margin-bottom: 5px;
}

.text-center {
  background-color: rgba(0, 0, 0, 0.76);
}

.fixedButton {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 20px;
}

.roundedFixedBtn {
  height: 60px;
  line-height: 62px;
  width: 60px;
  font-size: 40px;
  font-weight: bold;
  border-radius: 50%;
  background-color: rgb(228, 218, 111);
  color: black;
  text-align: center;
  cursor: pointer;
}

#reservasBackground {
  background-attachment: cover;
  height: 100%;
}

body {
  background-color: black;
  color: white;
}

.main {
  background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0), #000000), url("../images/fondo1.jpg");
  background-size: cover;
  background-position: center;
}

.jumbotron1 {
  background-image: url("../images/buenpa.jpg");
  background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0), #000000), url("../images/buenpa.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
  text-shadow: 2px 2px 8px rgb(2, 0, 0);
  font-size: 25px;
  padding: 20%;
  font-weight: bold;
}

.jumbotron1 h1 {
  font-size: 58px;
  font-weight: bold;
}

.presentacion1 {
  margin-bottom: 40px;
}

.presentacion1 p {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 80px;
  text-align: center;
  font-size: 20px;
}

.presentacion1 h2 {
  padding-left: 1%;
  font-size: 42px;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
  font-weight: bold;
}

.aleft img {
  border: solid;
  border-color: rgba(228, 219, 111, 0.984);
  box-shadow: 0px 0px 8px 5px rgba(228, 219, 111, 0.984);
  border-width: 5px;
  margin-left: 20px;
  border-radius: 30px;
  height: 750px;
  width: 750px;
  width: 96%;
}

.aright h2 {
  text-align: center;
  margin-bottom: 5%;
  padding-right: 3%;
}

.aright {
  padding-top: 13%;
  padding-left: 1%;
  font-size: 20px;
  text-align: center;
}

.aright p {
  background: #000000;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 40px rgba(0, 0, 0, 0.984);
}

.section1a {
  margin-top: 7%;
}

.aaright img {
  border: solid;
  border-color: rgba(228, 219, 111, 0.984);
  box-shadow: 0px 0px 8px 5px rgba(228, 219, 111, 0.984);
  border-width: 5px;
  margin-left: 20px;
  border-radius: 30px;
  height: 600px;
  width: 800px;
  margin-bottom: 3%;
  width: 96%;
}

.aaleft h2 {
  text-align: center;
  margin-bottom: 5%;
  padding-right: 5%;
}

.aaleft {
  padding-top: 9%;
  padding-left: 20px;
  font-size: 20px;
  text-align: center;
}

.aaleft p {
  background: #000000;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 80px 70px rgba(0, 0, 0, 0.984);
}

/* Style para jumbotron inicia */
.jumbotronLugares {
  text-align: center;
  text-shadow: 0 0 10px black;
  font-size: 50px;
  background-image: url("../images/tragos.jpg");
  background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0), #000000), url("../images/tragos.jpg");
  background-size: cover;
  height: 800px;
  background-position: 20% 28%;
  padding: 22%;
  color: white;
  font-weight: bold;
}

/* Style para jumbotron termina */
aside.button {
  text-align: center;
}

aside.button a {
  text-decoration: none;
  color: white;
  background-color: black;
  font-size: 25px;
}

.msecundario {
  margin-top: 4%;
  justify-content: space-between;
  margin-bottom: 4%;
  -webkit-text-decoration: underline white;
          text-decoration: underline white;
  font-weight: bold;
}

/* Style para menu secundario termina */
/* Style para 1er imagen inicia */
.bar1Left, .bar3Left, .bar2Left {
  margin-bottom: 5%;
  margin-left: 2px;
  border: solid;
  border-color: rgba(228, 219, 111, 0.984);
  border-width: 2px;
  box-shadow: 0px 0px 8px 6px rgba(228, 219, 111, 0.984);
  border-radius: 30px;
  height: 100%;
  width: 100%;
}

/* Style para 1er imagen termina */
 *
 *  /* Style para 1er seccion inicia */
.bar1Right, .bar3Right, .bar2Right {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 10px;
  color: white;
  max-widht: 100%;
}

.bar1Right h2, .bar3Right h2, .bar2Right h2 {
  margin-bottom: 3%;
  padding-right: 10%;
  text-align: left;
  text-decoration: underline;
}

.bar1Right p, .bar3Right p, .bar2Right p {
  background: #000000;
  color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 80px 40px rgba(0, 0, 0, 0.984);
  font-size: 20px;
}

.styleBar1 ul {
  list-style-type: none;
  padding-top: 3%;
  padding-left: 0px;
}

.styleBar1 ul li {
  margin-top: 40px;
  margin-bottom: 30px;
}

.styleBar1 a {
  color: white;
  font-size: 25px;
  /* Style para 1er seccion termina */
  /* Style para 2da imagen inicia */
}

.bar2Left {
  /* Style para 2da imagen termina */
  /* Style para 2da seccion inicia */
}

.bar2Right h2 {
  margin-bottom: 3%;
  padding-right: 10%;
  text-align: left;
  text-decoration: underline;
}

.bar2Right p {
  background: #030101;
  box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.984);
  color: white;
  border-radius: 20px;
  font-size: 20px;
}

.styleBar2 ul {
  list-style-type: none;
  text-decoration: none;
  padding-top: 3%;
  padding-left: 0px;
}

.styleBar2 ul li {
  margin-top: 40px;
  margin-bottom: 30px;
}

.styleBar2 a {
  color: white;
  font-size: 25px;
  /* Style para 2da seccion termina */
  /* Style para 3era imagen inicia */
}

.bar3Left {
  /* Style para 3era imagen termina */
  /* Style para 3ra seccion inicia */
}

.bar3Right h2 {
  margin-bottom: 3%;
  padding-right: 10%;
  text-align: left;
  text-decoration: underline;
}

.bar3Right p {
  background: #030101;
  box-shadow: 0px 0px 50px 50px rgba(0, 0, 0, 0.984);
  color: white;
  border-radius: 20px;
  font-size: 20px;
}

.styleBar3 ul {
  list-style-type: none;
  text-decoration: none;
  padding-top: 3%;
  padding-left: 0px;
}

.styleBar3 ul li {
  margin-top: 40px;
  margin-bottom: 30px;
}

.styleBar3 a {
  color: white;
  font-size: 25px;
  /* Style para 3ra seccion termina */
}

.pager {
  text-decoration: none;
  text-align: center;
  align-content: center;
  justify-content: center;
  list-style: none;
  display: inline-block;
  margin-top: 2%;
  font-size: 20px;
}

.pager li {
  display: inline-block;
  margin-right: 10px;
}

.pager li a {
  text-decoration: none;
  color: white;
}

.jumbotronReservas {
  text-align: center;
  text-shadow: 0 0 10px black;
  font-size: 50px;
  background-image: url("../images/laCanada.jpg");
  background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0), #000000), url("../images/laCanada.jpg");
  background-size: cover;
  height: 800px;
  background-position: 20% 28%;
  padding: 22%;
}

.jumbotronReservas h1 {
  margin-bottom: 22%;
  font-size: 50px;
  margin-left: 5%;
  font-weight: bold;
}

.section {
  margin-top: 150px;
  margin-bottom: 150px;
}

.leftReservas {
  padding-left: 0;
}

.leftReservas h2 {
  text-align: center;
}

.leftReservas img {
  width: 80%;
  height: 75%;
  margin-top: 50px;
  border-radius: 30px;
  border: solid;
  border-color: rgba(228, 219, 111, 0.984);
  box-shadow: 0px 0px 8px 5px rgba(228, 219, 111, 0.984);
  border-width: 2px;
  background-size: cover;
  background-position: center;
  margin-left: 70px;
}

.rightReservas {
  padding-left: 5%;
}

.rightReservas h2 {
  margin-bottom: 20%;
  text-align: center;
}

.rightReservas ul {
  color: white;
  list-style-type: none;
}

.rightReservas ul li {
  margin-top: 40px;
  margin-bottom: 30px;
}

.rightReservas a {
  color: white;
  font-size: 25px;
}

.reservasP {
  padding-right: 80px;
  padding-left: 80px;
  text-align: center;
  font-size: 20px;
}

#seleccionBar {
  width: 13%;
  margin-left: 43%;
  margin-top: 5%;
}

.contenedor-categorias {
  display: flex;
  text-align: center;
  box-shadow: 0px 0px 20px 30px rgba(0, 0, 0, 0.984);
  margin-top: 9%;
}

.categoria {
  flex: 1;
  text-shadow: 1px 5px 5px black;
  background-image: linear-gradient(to bottom, #000000, rgba(0, 0, 0, 0.7411764706), #000000);
  color: white;
}

#cuentaDom {
  margin-top: 5%;
  margin-left: 26%;
  text-shadow: 1px 5px 5px black;
  color: rgb(228, 218, 111);
  background-color: rgba(0, 0, 0, 0.824);
  border: none;
  box-shadow: 0px 0px 20px 30px rgba(0, 0, 0, 0.824);
  text-align: center;
  padding-top: 3%;
}

.reservaDatos {
  text-align: center;
  margin-top: 8%;
}

.inputsReserva {
  width: 70%;
  padding-left: 30%;
}

#botonGuardado {
  margin-left: 47%;
  margin-bottom: 5%;
}

.jumbotronNosotros {
  background-image: url("../images/Plaza_San_Martin.jpg");
  background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0.3882352941), #000000), url("../images/Plaza_San_Martin.jpg");
  background-size: cover;
  background-position: center;
  font-size: 25px;
  padding: 22%;
  text-shadow: 0 0 10px #000;
  color: white;
}

.jumbotronNosotros h1 {
  font-size: 50px;
  margin-bottom: 5%;
  text-align: center;
  font-weight: bold;
}

.equipo {
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 60%;
  margin-left: 20%;
  border-radius: 30px;
  border-color: rgba(228, 219, 111, 0.984);
  border-width: 2px;
  box-shadow: 0px 0px 8px 6px rgba(228, 219, 111, 0.984);
}

.parrafoNosotros {
  margin-bottom: 3%;
  font-size: 20px;
  padding-left: 8%;
  padding-right: 8%;
}

.jumbotronContacto {
  background-image: url("../images/catedral.jpg");
  background-image: linear-gradient(to top, #000000, rgba(0, 0, 0, 0.3882352941), #000000), url("../images/catedral.jpg");
  background-size: cover;
  background-position: center;
  font-size: 25px;
  padding: 20%;
  text-shadow: 0 0 10px #000;
  color: white;
}

.jumbotronContacto h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 5%;
  margin-top: 3%;
  font-weight: bold;
}

.formularioContacto h2 {
  margin-top: 5%;
}

.formularioContacto ul li {
  margin-bottom: 10px;
  font-size: 20px;
}

.formularioContacto p {
  margin-left: 30px;
  font-size: 20px;
}

.form-group {
  margin-bottom: 20px;
  font-size: 20px;
}

.formulario {
  padding-bottom: 6%;
  font-size: 20px;
  width: 70%;
  padding-left: 30%;
}

.enviarF {
  margin-bottom: 120px;
  margin-left: 45%;
  border-radius: 8px;
  border-width: thick;
  background-color: rgba(228, 219, 111, 0.984);
  color: black;
}/*# sourceMappingURL=style.css.map */