@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto+Serif:opsz@8..144&display=swap')

*
    font-family: 'Roboto Serif', serif

    // Style para navbar, icono y link inicia
.Header img
    height: 60px

.navbar
    background-color: black
    margin-top: 0px
    padding-top: 0px

.navbar-brand
    font-weight: bold

.botones
    padding-right: 3% 
    padding-bottom: 3px
    text-decoration: underline
    color: white
    font-size: 20px
// Style para navbar, icono y link termina

body
    background-color: black

/* Style para jumbotron inicia */


$imagen-fondo: url('./images/tragos.jpg')

h1
    text-align: center
    text-shadow: 0 0 10px white
    font-size: 45px
    background-image: $imagen-fondo
    background-image: linear-gradient(to top, #000000, #00000000, #000000,), $imagen-fondo
    background-size: cover
    background-position: center
    background-position: 20% 28%
    padding: 18%
    border-bottom-right-radius: 20px
    border-bottom-left-radius: 20px
    color: white

aside.button
    text-align: center

aside.button a
    text-decoration: none
    color: white
    background-color: black
    font-size: 25px

.msecundario
    margin-top: 4%
    justify-content: space-between
    margin-bottom: 4%
    text-decoration: underline white

/* Style para menu secundario termina */

/* Style para 1er imagen inicia */

.aleft
    border-radius: 20px
    background-position: center
    background-size: cover
    height: 750px
    margin-bottom: 5%

.primerImagen
    background-image: url(./images/bar5.jpg)

/* Style para 1er imagen termina */

    /* Style para 1er seccion inicia */

.aright h2
    margin-bottom: 3%
    padding-right: 10%
    text-align: left
    text-decoration: underline

.aright
    padding-top: 5%
    padding-left: 50px
    padding-right: 50px
    color: white

.section1 ul
    list-style-type: none
    padding-top: 3%
    padding-left: 0px

.section1 ul li
    margin-top: 40px
    margin-bottom: 30px

.section1 a
    color: white
    font-size: 25px

    /* Style para 1er seccion termina */

    /* Style para 2da imagen inicia */

.bleft
    @extend .aleft
    background-image: url(./images/bar3.jpg)

    /* Style para 2da imagen termina */

    /* Style para 2da seccion inicia */

.bright h2
    margin-bottom: 3%
    padding-right: 10%
    text-align: left
    text-decoration: underline

.bright
    @extend .aright

.section2 ul
    list-style-type: none
    text-decoration: none
    padding-top: 3%
    padding-left: 0px

.section2 ul li
    margin-top: 40px
    margin-bottom: 30px

.section2 a
    color: white
    font-size: 25px

    /* Style para 2da seccion termina */



    /* Style para 3era imagen inicia */

.cleft
    @extend .aleft
    background-image: url(./images/bar2.jpg)

    /* Style para 3era imagen termina */

    /* Style para 3ra seccion inicia */

.cright h2
    margin-bottom: 3%
    padding-right: 10%
    text-align: left
    text-decoration: underline

.cright
    @extend .aright

.section3 ul
    list-style-type: none
    text-decoration: none
    padding-top: 3%
    padding-left: 0px

.section3 ul li
    margin-top: 40px
    margin-bottom: 30px

.section3 a
    color: white
    font-size: 25px

    /* Style para 3ra seccion termina */
















// Footer inicia
.mb-4
    margin-bottom: 5px
    color: white

.text-center
    background-color: rgba(0, 0, 0, 0.973)
// Footer termina

